@{
    ViewBag.Title = "Forside";
}

<div class="jumbotron">
    <h1>Ibs PC-biks</h1>
    <div id="div1" style="display: inline-block;width:65%;">
        <p class="lead">Velkommen til Ibs PC-biks har kan du få alt fra "byg selv" pcer, til samlede pcer og løsdele.</p>
        <p class="lead">Lige meget hvad du vælger, vil vi hjælpe dig på vej hele vejen gennem processen.</p>
        <!--<p><a href="/Shop/" class="btn btn-primary btn-lg">Gå til butikken &raquo;</a></p>-->
    </div>
    <div id="div2" style="display: inline-block;width:34%;">
        <img src="http://www.pcodense.dk/wp-content/uploads/pcer-300x176.jpg" height="220px" />
    </div>
</div>
<div class="row">
    <div class="col-md-4">
        <h2>Saml din egen PC</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla ullamcorper viverra neque, porttitor scelerisque magna ullamcorper id. Nunc turpis ante, consequat sit amet nisi id, consequat tincidunt enim.</p>
        <p><a class="btn btn-default" onclick="alert('Systemet er endnu ikke udviklet!')">Prøv det her &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Køb en samlet PC</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla ullamcorper viverra neque, porttitor scelerisque magna ullamcorper id. Nunc turpis ante, consequat sit amet nisi id, consequat tincidunt enim.</p>
        <p><a class="btn btn-default" onclick="alert('Systemet er endnu ikke udviklet!')">Prøv det her &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Køb løsdele til din PC</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla ullamcorper viverra neque, porttitor scelerisque magna ullamcorper id. Nunc turpis ante, consequat sit amet nisi id, consequat tincidunt enim.</p>
        <p><a class="btn btn-default" href="/Shop/BuyComponent">Prøv det her &raquo;</a></p>
    </div>
</div>