<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Error</title>
</head>
<body>
    <hgroup>
        <h1>Error.</h1>
        <h2>Følgende fejl opstod i forbindelse med din forespørgsel.</h2>
        @Model.Exception.Message
    </hgroup>
</body>
</html>
