<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_ICustomerService" />
                <binding name="BasicHttpBinding_IOrderService" />
                <binding name="BasicHttpBinding_IProductService" />
                <binding name="BasicHttpBinding_ICategoryService" />
                <binding name="BasicHttpBinding_IZipCityService" />
                <binding name="BasicHttpBinding_IEmployeeService" />
                <binding name="BasicHttpBinding_IDbService" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:8733/CustomerService/" binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_ICustomerService" contract="CustomerServiceReference.ICustomerService"
                name="BasicHttpBinding_ICustomerService" />
            <endpoint address="http://localhost:8733/OrderService/" binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_IOrderService" contract="OrderServiceReference.IOrderService"
                name="BasicHttpBinding_IOrderService" />
            <endpoint address="http://localhost:8733/ProductService/" binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_IProductService" contract="ProductServiceReference.IProductService"
                name="BasicHttpBinding_IProductService" />
            <endpoint address="http://localhost:8733/CategoryService/" binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_ICategoryService" contract="CategoryServiceReference.ICategoryService"
                name="BasicHttpBinding_ICategoryService" />
            <endpoint address="http://localhost:8733/ZipCityService/" binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_IZipCityService" contract="ZipCityServiceReference.IZipCityService"
                name="BasicHttpBinding_IZipCityService" />
            <endpoint address="http://localhost:8733/EmployeeService/" binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_IEmployeeService" contract="EmployeeServiceReference.IEmployeeService"
                name="BasicHttpBinding_IEmployeeService" />
            <endpoint address="http://localhost:8733/DbService/" binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_IDbService" contract="DbServiceReference.IDbService"
                name="BasicHttpBinding_IDbService" />
        </client>
    </system.serviceModel>
</configuration>